*{
    margin: 0;
    padding: 0;

}

#myback{
width: 100%;
    height: 1000px;
    background-color: black;
    background-size: cover;
    pointer-events: none; 
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}
#ting{
    width: 100%;
    height: 1000px;
    pointer-events: none; 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}
#tglow{
    width: 100%;
    height: 1000px;
    pointer-events: none; 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    z-index: 2;
}
#titlet{
    width: 100%;
    height: 1000px;
    pointer-events: none; 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
    z-index: 2;
}
#titlelogo{
    width: 55%;
    height: 35%;
    margin-left: 22%;
    pointer-events: none; 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    z-index: 0;
}
#flame{
    width: 100%;
    height: 1000px;
    pointer-events: none; 
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
    z-index: 0;
}
/* .iconclass{
    height: 100%;
    width: 50%;
    left: 25%;
    flex-direction: column;
    position: absolute;
    background-color: aquamarine;
    opacity: 0.5;
    z-index: 5;
} */
.iconclass{
    position: relative;
    width: 53%;
    height: 700px;
    margin: 0 auto;
    padding-top: 13%;
    display: flex;
    right: 0%;
    flex-direction: row;
    justify-content: space-between;
}

.box1{
    width: 22%;
    height: 700px;
    position: relative;
    text-align: center;
    margin: 1px;
    left: 0;
    z-index: 3;
}
.subbox1{
    width: 100%;
    height: 51%;
    position: relative;
    text-align: center;
    margin: 1px;
    left: 0;
    z-index: 3;
}

.subbox2{
    width: 100%;
    height: 51%;
    position: relative;
    text-align: center;
    margin: 1px;
    left: 0;
    z-index: 3;
}
.subbox3{
    width: 100%;
    height: 51%;
    position: relative;
    text-align: center;
    margin: 1px;
    left: 0;
    z-index: 3;
}
.subbox4{
    width: 100%;
    height: 51%;
    position: relative;
    text-align: center;
    margin: 1px;
    left: 0;
    z-index: 3;
}
.box2{
    width: 22%;
    height: 700px;
    position: relative;
    text-align: center;
    margin: 1px;
    right: 0;
    z-index: 3;
}

#starticon{
    position: absolute; 
    width: 100%; 
    pointer-events: none;
    height: 54%; 
    z-index: 2;
    left: 0;
}
#continueicon{
    position: absolute; 
    width: 100%; 
    pointer-events: none;
    height: 54%; 
    z-index: 2; 
    bottom: 0;   
    right: 0;


}
#optionicon{
    position: absolute; 
    width: 100%; 
    height: 54%; 
    z-index: 2;
    left: 0;
}
#exiticon{
    position: absolute; 
    width: 100%; 
    pointer-events: none;
    height: 54%;  
    z-index: 2;
    bottom: 0;   
    right: 0;

}

#startbase1{
    height: 0%;
    width: 0px;
}
#startbase2{
    height: 0%;
    width: 0px;
}
#startbase3{
    height: 0%;
    width: 0px;
}
#startbase4{
    height: 0%;
    width: 0px;
}
.subbox1:hover > #startbase1{
    margin-top: 25px;
    height: 80%;
    width: 1000px;
    transform: rotate(13deg);
    text-emphasis: none;
    transition: 0.2s;
}
.subbox2:hover > #startbase2{
    margin-top: 25px;
    height: 80%;
    width: 1000px;
    transform: rotate(13deg);
    text-emphasis: none;
    transition: 0.2s;
}
.subbox3:hover > #startbase3{

}
.subbox4:hover > #startbase4{

}
/* #startbase:hover{
    height: 90%;
    width: 1000px;
    transform: rotate(13deg);
    text-emphasis: none;
    transition: 0.2s;
} */


